<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurants</title>
</head>
<body>
    <h3>Restaurants that serve <span data-th-text="*{cuisine}"></span> food</h3>

    <div class="container">

        <ul>
            <li data-th-each="r: ${restaurants}" data-th-object="${r}">
                <p data-th-text="*{name}"></p>
                <p data-th-text="*{address}"></p>
                <p> Rating: <i data-th-text="*{rating}"></i></p>
            </li>
        </ul>
      
        <a data-th-href="@{/restaurants}">Back</a>
        
    </div> 
    
</body>
</html>


